.create-match-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.create-match-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}
.play-match .panel-body {
    padding:0;
}
.play-match .list-group:last-child {
    margin-bottom:0px;
}